body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "open sans";
}

.nav-container {
    width:1100px;
    margin: auto;
    position: relative;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
}

.nav-link{
    font-size: x-small;
    
}


.nav-btn span{
    font-size: x-small;
}


.page-title {
    position: absolute;
    font-family: Arial;
   
}

.page title {
    font-size: 10px;
    font-weight: 300;
    margin: 10px 0px 10px 0px;
    text-align: center;

}

.title-heading {
   color: white;
    /* margin: 0px 0px 50px 0px */

}

.box {
    height:100vh
}
.box-1 {
    display: flex;
    justify-content: center;
    align-items:center;
}

.leftbox {
    height:30%;
    width:30%;
}

.rightbox {
    height:30%;
    width:30%;
}





